<div>

    <h1> SMS CONFIRMATION </h1>

    <h3> Please use the 4 digit code you received on your phone to confrim your registartion for receiving notification vis SMS.</h3>

    <form class="form-horizontal" id="smsConfirmForm" name="smscc.smsConfirmForm" role="form" novalidate>

        <div class="form-group">

            <div class="col-sm-6">
                <input class="form-control ng-class:{'error': smsc.showConfErrors && !smsc.smsConfirmForm.Recipient.$valid}"
                       id="confirmCode"
                       name="confirmCode"
                       type="text"
                       placeholder="Enter the 4 Digit Confirmation Code"
                       ng-model="smscc.confCode.confirmCode"
                       ng-minlength="4"
                       ng-maxlength="4"
                       required>
                <!--ng-pattern="/^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/"-->
                <div role="alert" class="help-inline error">
                    <!--<span class="error" ng-show="smsc.showNewSmsErrors && smsc.smsForm.Recipient.$error.pattern">A Valid Number is Required! Please Check Your Number!</span>-->
                    <span class="error" ng-show="smscc.showConfErrors && smscc.smsConfirmForm.confirmCode.$error.required">A Number is Required!</span>
                    <span class="error" ng-show="smscc.showConfErrors && smscc.smsConfirmForm.confirmCode.$error.minlength">Code needs to be a minimum of 4 digits!</span>
                    <span class="error" ng-show="smscc.showConfErrors && smscc.smsConfirmForm.confirmCode.$error.maxlength">Code can not exceed 4 digits!</span>
                </div>
            </div>
        </div>

    </form>

    <a id="submit" data-ng-click="smscc.submit()" class="btn btn-success btn-outline btn-md" style="margin-right:10px;  text-align:center;"> Submit Code </a>
    <a id="cancel" data-ng-click="smscc.cancel()" class="btn btn-danger btn-outline btn-md" style="margin-right:10px;  text-align:center;"> Cancel </a>

</div>
