<div>

    <form class="form-horizontal" id="smsForm" name="smsc.smsForm" role="form" novalidate>

        <div class="form-group">

            <div class="col-sm-6">
                <input class="form-control ng-class:{'error': smsc.showConfPhoneErrors && !smsc.smsForm.Recipient.$valid}"
                       id="Recipient"
                       name="Recipient"
                       type="text"
                       placeholder="Your Phone Number"
                       ng-model="smsc.newPhone.recipient"
                       ng-minlength="2"
                       ng-maxlength="50"
                       required>
                <!--ng-pattern="/^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/"-->
                <div role="alert" class="help-inline error">  
                    <!--<span class="error" ng-show="smsc.showNewSmsErrors && smsc.smsForm.Recipient.$error.pattern">A Valid Number is Required! Please Check Your Number!</span>-->
                    <span class="error" ng-show="smsc.showConfPhoneErrors && smsc.smsForm.Recipient.$error.required">A Number is Required!</span>
                    <span class="error" ng-show="smsc.showConfPhoneErrors && smsc.smsForm.Recipient.$error.minlength">Number is Too Short!</span>
                    <span class="error" ng-show="smsc.showConfPhoneErrors && smsc.smsForm.Recipient.$error.maxlength">Number is Too Long!</span>
                </div>
            </div>
        </div>

    </form>

    <a id="confirmRecipient" data-ng-click="smsc.confrimPhoneNumber()" class="btn btn-success btn-outline btn-md" style="margin-right:10px;  text-align:center;"> Confrim to be Notified Via SMS </a>

</div>
