@{
    ViewBag.Title = "List_ng";
    Layout = "~/Views/Shared/_LayoutUmega.cshtml";
}

<h2>Contact List</h2>
<div class="panel-body" data-ng-controller="ContactController as main" id="contactCtlr">
    <div class="widget">
        <div class="widget-heading">
            <h3 class="widget-title">Contact Table</h3>
        </div>
        <div class="widget-body">
            <table class="contactTable stable table-bordered">
                <thead>
                    <tr>
                        <th class='col-sm-1'>Id</th>
                        <th class='col-sm-2'>fullName</th>
                        <th class='col-sm-4'>email</th>
                        <th class='col-sm-1'>subject</th>
                        <th class='col-sm-1'>message</th>
                        <th class='col-sm-1'>Edit</th>
                        <th class='col-sm-1'>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in  main.contact track by item.id">
                        <td class="tableColid">{{item.id}} </td>
                        <td class="tableColfullName">{{item.fullName}} </td>
                        <td class="tableColsubject">{{item.email}}</td>
                        <td class="tableColemail">   {{item.subject}}</td>
                        <td class="tableColmessage">  {{item.message}} </td>
                        <td><a ng-href="/contact/{{item.id}}"class="editcontactById btn btn-primary btn btn-Edit"> Edit </a></td>
                        <td><a class="btn btn-delete btn btn-danger" ng-click="main.DeletcontactById(item.id)"> Delete </a></td>
                    </tr>
                    

                </tbody>
            </table>
            <br />
        </div>
    </div>
    <table class="hidden"></table>
</div>
    @section Scripts {
<script src="~/Scripts/sabio/application/services/ContactService.js"></script>
<script src="~/Scripts/services/sabio.service.contact.js"></script>
<script type="text/javascript">

    //contact service
    
    //(function () {
    //    "use strict";

       
    //    angular.module(APPNAME)
    //        .factory('$contactService', contactServiceFactory);

        
    //    contactServiceFactory.$inject = ['$baseService', '$sabio'];

    //    function contactServiceFactory($baseService, $sabio) {
           
    //        var aSabioServiceObject = sabio.services.contactpage;

            
    //        var newService = $baseService.merge(true, {}, aSabioServiceObject, $baseService);

    //        return newService;
    //    }

    //})();

    //Contact Controller
    (function () {
        "use strict";

        angular.module(APPNAME)
            .controller('ContactController', ContactController);

        ContactController.$inject = ['$scope', '$baseController', "$contactService"];

        function ContactController(
            $scope
            , $baseController
            , $contactService) {

            
            var vm = this;//this points to a new {}
            // vm.headingInfo = "Angular 101";
            vm.id = null;
            vm.contact = null;

            vm.$contactService = $contactService;
            vm.$scope = $scope;

            vm.DeletcontactById = _DeletcontactById;
           

            //-- this line to simulate inheritance
            $baseController.merge(vm, $baseController);

            // this is a wrapper for our small dependency on $scope
            vm.notify = vm.$contactService.getNotifier($scope);

            //  this is like the sabio.startUp function
            render();

            function render() {
            
                vm.$contactService.ConlistJson(_onAjaxSuccess);
            }
            //Ajax sucess for List
            function _onAjaxSuccess(data) {
                console.log("hello" + data);
                vm.notify(function () {
                    vm.contact = data.items;
                    console.log("contact working", vm.contact);
                });
            }
            //Ajax success for delete
            function _onSuccess(data) {
                console.log("hello" + data);
                vm.notify(function () {
                    vm.contact = data.items;
                    console.log("Delete working", vm.contact);
                });
            }

            //Ajax  for deletebyid
            function _DeletcontactById(id) {
               // vm.DeletcontactById = id;
                console.log("delete this contact", id);
                vm.$contactService.DeletcontactById(id, _onDSuccess, _onError);
            }

            //Ajax success for delete by id
            function _onDSuccess(response) {
                console.log(response);
                vm.$alertService.success("Contact Delete!");
                vm.$contactService.ConlistJson(_onAjaxSuccess);
            }
            function _onError(jqXhr, error) {
                console.error(error);
            }
        }
    })();

</script>
    }
