
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutUmega.cshtml";
}

<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">Contact Table</h3>
    </div>
    <div class="widget-body">
        <table class="contactTable stable table-bordered">
            <thead>
                <tr>
                    <th class='col-sm-1'>Id</th>
                    <th class='col-sm-2'>fullName</th>
                    <th class='col-sm-4'>subject</th>
                    <th class='col-sm-1'>email</th>
                    <th class='col-sm-1'>message</th>
                    <th class='col-sm-1'>Edit</th>
                    <th class='col-sm-1'>Delete</th>
                </tr>
            </thead>
            <tbody>
                         @*<tr id="template" class="hidden">
                         <td class="tableColId"> </td>
                         <td class="tableColcontactfullName">   </td>
                         <td class="tableColcontactsubject">   </td>
                         <td class="tableColcontactemail">   </td>
                         <td class="tableColcontactmessage">   </td>
                         <td><a href="api/contact" class="editcontactById btn btn-default"> Edit </a></td>
                         <td><a href=""id="clear-cart" class="deletecontactById btn btn-default"> Delete </a></td>
                     </tr>*@ 
                 </tbody>
              </table>
            <br />
         </div>
      </div>
        <table class="hidden">
        <tr id="template" class="hidden">
        <td class="tableColId"> </td>
        <td class="tableColcontactfullName">   </td>
        <td class="tableColcontactsubject">   </td>
        <td class="tableColcontactemail">   </td>
        <td class="tableColcontactmessage">   </td>
        <td><a href="api/contact" class="editcontactById btn btn-default"> Edit </a></td>
        <td><a href="" class="deletecontactById btn btn-default"> Delete </a></td>

    </tr>
</table>

@section Scripts {

     <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
   
        sabio.page.startUp = function () {
            sabio.page.ConlistJson();
        }

        sabio.page.ConlistJson = function () {
            $.ajax({
                type: 'GET',
                url: '/api/contact/list',
                dataType: 'json',
                success: sabio.page.onAjaxSuccess
            });
        }

        //Ajax Pages List Call Success
        sabio.page.onAjaxSuccess = function (contactArray) {
            $.each(contactArray.items, function (i, object) {
                sabio.page.rendercontactArray(object);
            });
        };

        // contact ll success display on page function
        sabio.page.rendercontactArray = function (object) {

            var row = $('#template').clone();
            row.removeClass('hidden');
            ////row.removeClass('template');
            row.removeAttr('id');

            // console.log(object);
            $('.tableColId', row).text(object.id);
            $('.tableColcontactfullName', row).text(object.fullName);
            $('.tableColcontactsubject', row).text(object.subject);
            $('.tableColcontactemail', row).text(object.email);
            $('.tableColcontactmessage', row).text(object.message);
            $('.editcontactById', row).attr('href', '/contact/' + object.id);
            $('.deletecontactById', row).on('click', sabio.page.handlers.DeletcontactById);
            $('.deletecontactById', row).attr('id', object.id);
            $('.contactTable > tbody').append(row);
        }

        //DeleteContactById
        sabio.page.handlers.DeletcontactById = function (e) {
            event.preventDefault();
            console.log("its working delete");
            var answer = confirm("Are you sure you want to delete this contact from the database");
            if (answer) {
                $.ajax({
                    type: "DELETE",
                    url: '/api/contact/' + $(this).attr('id'),
                    dataType: 'json',
                    success: sabio.page.onDeleteAjaxSuccess,
                    error: sabio.page.onDeleteError
                });
            }

        }

        sabio.page.onDeleteAjaxSuccess = function (Deleteresponse) {
            console.log(Deleteresponse)
            $('.contactTable > tbody').empty();
            sabio.page.ConlistJson();
        }
        
        sabio.page.onDeleteError = function (Delete) {
            console.log("delete error")
        }
       
    </script>
}